@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	font-family: 'Open Sans', sans-serif;
}

.transition-duration-200 {
	@apply transition;
	@apply duration-200;
}

.flex-center {
	@apply flex;
	@apply items-center;
	@apply justify-center;
}

/* Global CSS for the editor */

.quill {
	display: flex !important;
	flex-direction: column-reverse !important;
}
.ql-toolbar {
	margin: 1px 1px;
	background: #F8F8F8 !important;
	border: none !important;
}
.ql-editor {
	max-height: 9rem;
	font-size: 14px;
}
.ql-active {
	background: #cbd5e0 !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
	border: none;
}
.ql-editor.ql-blank::before {
	font-style: normal !important;
}
span.ql-formats > button {
	border-radius: 4px !important;
	margin-right: 2px;
}
span.ql-formats > button:hover {
	background: #DDDDDD;
	color: #edf2f7 !important;	
}

.ql-syntax {
	background: #ebf8ff !important;
	color: #1A202C !important;
}